# Anything related to graphify
graphify-out/

# Virtual Environment
venv/

# __pycache__ folders
__pycache__/

# Bytes-compiled files
*.pyc
*.pyo
*.pyd

# Codex Instructions
.codex

# vscode settings
.vscode/*

# env files
.env
.env.local
.env.prod

# dependency lockfiles
package-lock.json
frontend/package-lock.json
